@font-face {
    font-family: 'Shabnam';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Shabnam.ttf') format('truetype');
}

@font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: 'Yekan';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Yekan.ttf') format('truetype');
}
